<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AddInSection" type="Sample01.AddInConfigurationSection, CarHost"/>
  </configSections>
  <AddInSection>
    <AddIns>
      <AddIn id="1" contract="CarContract.ICarContract" assemblyName="BMW" typeName="Sample01.BMW"/>
      <AddIn id="2" contract="CarContract.ICarContract" assemblyName="Mercedes" typeName="Sample01.Mercedes"/>
    </AddIns>
  </AddInSection>
</configuration>